scipy = 1.2.1 
To be installed in the ovito compiler, please refer to the details in [Third-party Python modules](http://ovito.org/manual_testing/python/introduction/running.html#third-party-python-modules/ "link")
